<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host_name</key>
	<string>hostname</string>
	<key>base_url</key>
	<string>basrurl</string>
	<key>request_extras</key>
	<dict>
		<key>source</key>
		<string>iOS</string>
	</dict>
	<key>baidu_map_key</key>
	<string>baidukey</string>
	<key>jpush_key</key>
	<string>jpushkey</string>
	<key>jpush_secret</key>
	<string></string>
	<key>umeng_key</key>
	<string></string>
	<key>wechat_key</key>
	<string></string>
	<key>wechat_secret</key>
	<string></string>
	<key>wechat_url</key>
	<string></string>
	<key>im_key</key>
	<string></string>
	<key>im_secret</key>
	<string></string>
</dict>
</plist>
